

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Nhập thông tin thương hiệu mới</h4>
                
                <form class="forms-sample" id="form-brands" method="post" enctype="multipart/form-data" action="/UpdateBrands">

                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã thương hiệu</label>
                        <input type="text" name="BransId" class="form-control" readonly  value="@ViewBag.DetailBrands.BrandId">
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên thương hiệu</label>
                        <input type="text" class="form-control" id="BrandsName" name="BrandsName" value="@ViewBag.DetailBrands.BrandName">
                         <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Error...
                    </div>
                    </div>
                    <div class="form-group">
                        <lable>Upload Image</lable>
                        <br />
                         <br />
                          @Html.TextBox("fileImage", "", new { type = "file", accept = "image/*" })
                        <br />
                        <br />
                        <img id="preview" src="/images/@ViewBag.DetailBrands.BrandPhoto" width="auto" height="auto" class="hidden" />
                         <br />
                        <br />
                        <input type="text" name="imageName" value="@ViewBag.DetailBrands.BrandPhoto" readonly />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nhập mô tả cho</label>
                        <textarea style="height: 100px;" name="BrandsDescription" class="form-control" placeholder="Nhập mô tả cho thương hiệu..." >@ViewBag.DetailBrands.BrandDescription</textarea>
                    </div>
                    <div class="form-group">
                        <select name="status" id="status"> 
                            <option value="1">Trạng thái bình thường</option>
                            <option value="0">Tạm ngưng kinh doanh</option>
                        </select>
                    </div>
                     <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Cập nhật</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>









</div>