@using ModelProject.ViewModel;
@model AddBrandViewModel;


<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    
                        switch (Model.MessageAdd)
                        {
                                case "AddBrandsTrue":  <div class="alert alert-success">Thêm thương hiệu thành công</div> break;
                                case "AddBrandsIDfalse":  <div class="alert alert-danger">Mã sản phẩm đã tồn tại</div> break;
                                case "AddBrandsFalse":  <div class="alert alert-success">Thêm thương hiệu thất bại</div> break;
                            default: break;
                        }
                       
                    
                }
                <h2 style="text-align:center;" class="card-title">Nhập thông tin thương hiệu mới</h2>
                <form class="forms-sample" id="form-brands" method="post" enctype="multipart/form-data" asp-action="AddBrands">
                    <div class="form-group">
                        <label asp-for="@Model.BrandId">Mã thương hiệu</label>

                        <input class="form-control BrandId" asp-for="@Model.BrandId" placeholder="Nhập mã thương hiệu" />

                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã thương hiệu: a-z,A-Z,0-9
                        </div>

                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.BrandName">Tên thương hiệu</label>
                        <input asp-for="@Model.BrandName" class="form-control BrandName" placeholder="Nhập tên thương hiệu" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BrandDescription">Nhập mô tả cho</label>
                        <textarea style="height: 100px;" asp-for="@Model.BrandDescription" class="form-control" placeholder="Nhập mô tả cho thương hiệu..."></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BrandStatus">Trạng thái thương hiệu</label>
                        <select class="form-control" asp-for="@Model.BrandStatus">
                            @{
                                for (int i = 0; i < Model.GetStatus().Count; i++)
                                {
                                     <option value="@i">@Model.GetStatus()[i]</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <h4>Logo thương hiệu</h4>
                        <input asp-for="@Model.fileImage" class="fileImage form-control" accept="image/*" />
                        <br />
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>