@using CMSWeb.ViewModels;
@using DAL.Models;
@using CMSWeb.ViewModels.ProductBrandsViewModel;
@model AddBrandsViewModel;


<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    if (Model != null)
                    {
                        switch (Model.message)
                        {
                            case "BrandsIdfales":
                                  <div style="color:red;">
                                    Mã thương hiệu đã tồn tại
                                </div>
                                break;
                                case"BrandsTrue":  <div class="alert alert-success">Thêm thương hiệu thành công</div> break;
                            default: break;
                        }
                       
                    }
                }
                <h2 style="text-align:center;" class="card-title">Nhập thông tin thương hiệu mới</h2>
                <form class="forms-sample" id="form-brands" method="post" enctype="multipart/form-data" asp-action="AddBrands">
                    <div class="form-group">
                        <label asp-for="@Model.createBrands.BrandId">Mã thương hiệu</label>

                        <input class="form-control BrandId" asp-for="@Model.createBrands.BrandId" placeholder="Nhập mã thương hiệu" />

                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã thương hiệu: a-z,A-Z,0-9
                        </div>

                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.createBrands.BrandName">Tên thương hiệu</label>
                        <input asp-for="@Model.createBrands.BrandName" class="form-control BrandName" placeholder="Nhập tên thương hiệu" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.createBrands.BrandDescription">Nhập mô tả cho</label>
                        <textarea style="height: 100px;" asp-for="@Model.createBrands.BrandDescription" class="form-control" placeholder="Nhập mô tả cho thương hiệu..."></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.createBrands.BrandStatus">Trạng thái thương hiệu</label>
                        <select class="form-control" asp-for="@Model.createBrands.BrandStatus">
                            <option value="1">Trạng thái bình thường</option>
                            <option value="0">Tạm ngưng kinh doanh</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h4>Logo thương hiệu</h4>
                        <input asp-for="@Model.fileImage" class="fileImage" accept="image/*" />
                        <br />
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>