@using ModelProject.ViewModel;
@model AddBrandViewModel;

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @switch (Model.MessageUpdate)
                {
                    case "BrandsUpdateFalse": <div class="alert alert-danger">Cập nhật thất bại</div> break;
                    case "BrandsUpdateTrue": <div class="alert alert-success">Cập nhật thành công</div> break;
                    case "removeFail": <div class="alert alert-danger">Xóa thất bại</div> break;
                    default: <div></div> break;
                }
                
                <h2 style="text-align:center;" class="card-title">Nhập thông tin thương hiệu mới</h2>
                
                <form class="forms-sample" id="form-brands" method="post" enctype="multipart/form-data" action="/UpdateBrands">

                    <div class="form-group">
                        <label asp-for="@Model.BrandId">Mã thương hiệu</label>
                        <input readonly class="form-control" asp-for="@Model.BrandId" placeholder="Nhập mã thương hiệu" />
                        
                    </div>
                    
                    <div class="form-group">
                       <label asp-for="@Model.BrandName">Tên thương hiệu</label>
                        <input asp-for="@Model.BrandName" class="form-control BrandName" placeholder="Nhập tên thương hiệu" />
                         <div class="valid-feedback">
                        Chính xác.
                    </div>
                    <div class="invalid-feedback">
                       Không được bỏ trống
                    </div>
                    </div>
                 
                    <div class="form-group">
                        <div class="form-group">
                        <label asp-for="@Model.BrandDescription">Nhập mô tả cho</label>
                        <textarea style="height: 100px;" asp-for="@Model.BrandDescription" class="form-control" placeholder="Nhập mô tả cho thương hiệu..."></textarea>
                    </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BrandStatus">Trạng thái thương hiệu</label>
                       <select class="form-control" asp-for="@Model.BrandStatus">
                            @{
                                
                            }
                        </select>
                    </div>
                     <div class="form-group">
                        <h4>Logo thương hiệu</h4>
                        <input asp-for="@Model.fileImage" class="fileImage form-control" accept="image/*" />
                        <br />
                        <br />
                        <div class="imagelogo">  <img id="preview" src="/images/Logo/@Model.BrandPhoto" width="auto" height="auto" class="hidden" /></div>
                    </div>
                     <button type="submit" id="btn-submit" class="btn btn-logo btn-gradient-primary me-2">Cập nhật</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                    <a class="btn btn-outline-danger btn-remove" asp-controller="Home" asp-action="RemoveBrands" asp-route-id="@Model.BrandId">Xóa</a>
                </form>
            </div>
        </div>
    </div>









</div>