@using ModelProject.ViewModel;
@model AddBrandViewModel;

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @switch (Model.MessageUpdate)
                {
                    case "BrandsUpdateFalse": <div class="alert alert-danger">Cập nhật thất bại</div> break;
                    case "BrandsUpdateTrue": <div class="alert alert-success">Cập nhật thành công</div> break;
                    case "removeFail": <div class="alert alert-danger">Xóa thất bại</div> break;
                    default: <div></div> break;
                }
                <h2 style="text-align:center;" class="card-title">Nhập thông tin thương hiệu mới</h2>
                 @using (Html.BeginForm("UpdateBrands", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                 <div class="form-group">
                        <label>Mã thương hiệu</label>
                        @Html.TextBoxFor(m => m.BrandId, new{@class="form-control BrandId", @readonly="True", placeholder="Nhập mã thương hiệu"})
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã thương hiệu: a-z,A-Z,0-9
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tên thương hiệu</label>
                        @Html.TextBoxFor(m => m.BrandName, new{@class="form-control BrandName", placeholder="Nhập tên thương hiệu"})
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nhập mô tả cho</label>
                        @Html.TextAreaFor(m => m.BrandDescription, new{@class="form-control", placeholder="Nhập mô tả thương hiệu"})
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                       
                        @Html.DropDownListFor(m => m.BrandStatus, new SelectList(Model.status, "id", "name"), new {@class="form-control"} )

                    </div>
                    <div class="form-group">
                        <h4>Logo thương hiệu</h4>
                         @Html.TextBox("fileImage", "",new {@class="form-control fileImage", type="file", accept="image/*",name="fileImage"} )
                        <br />
                        <br />
                        <div class="imagelogo">  <img id="preview" src="@Model.BrandPhoto" width="auto" height="auto" class="hidden" /></div>
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Cập nhật</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>   
                }
            </div>
        </div>
    </div>
</div>