@using ModelProject.ViewModel;
@using Microsoft.AspNetCore.Http;
@model CartsViewModel;

@section js{
	<script>
		 var proQty = $('.pro-qty');
	proQty.on('click', '.qtybtn', function () {
		var $button = $(this);
		var oldValue = $button.parent().find('input').val();
		if ($button.hasClass('inc')) {
			var newVal = parseFloat(oldValue) + 1;
		} else {
			// Don't allow decrementing below zero
			if (oldValue > 1) {
				var newVal = parseFloat(oldValue) - 1;
			} else {
				newVal = 1;
			}
		}
		$button.parent().find('input').val(newVal);
    });
	</script>
}

<div style="margin-top: 100px;" class="container cart-index">
	<form asp-action="UpdateCart" asp-controller="Cart" method="post">


	
	<div class="row">
		<div class="col-lg-12">
			
			<div class="shop__cart__table">
				<table>
					<thead>
						<tr>
							<th>Sản phẩm</th>
							<th>Giá</th>
							<th>khuyến mãi</th>
							<th>Số lượng</th>
							<th>Tổng</th>
							<th>Thành tiền</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
						@for (var i = 0; i < Model.cartViewModels.Count; i++)
						{
								<input name="CartModels[@i].ProductId" type="hidden" value="@Model.cartViewModels[i].ProductShow.VersionId">
								<input name="CartModels[@i].QuantityColorId" type="hidden" value="@Model.cartViewModels[i].quantityProductVerSion.idQuantity">
								<tr>
							<td class="cart__product__item">
									<img style="width:150px; height: 150px;" src="@Model.cartViewModels[i].quantityProductVerSion.ColorPath" alt="@Model.cartViewModels[i].ProductShow.VersionName">
								<div class="cart__product__item__title">
										<h6>@Model.cartViewModels[i].ProductShow.VersionName</h6>
								</div>
							</td>
								<td class="cart__price">@Model.cartViewModels[i].ProductShow.ProductPrice</td>
							<td class="cart__total">@Model.cartViewModels[i].ProductShow.ProductSale</td>
								<td class="cart__quantity">
									<div class="pro-qty">
											@if (Model.cartViewModels[i].status == 1)
											{
												<span>Không đủ @Model.cartViewModels[i].quantityProductVerSion.Quantity</span>
											}
											
										<span class="dec qtybtn">-</span>

											<input name="CartModels[@i].Quantity" type="text" value="@Model.cartViewModels[i].quantityProductVerSion.Quantity">
										<span class="inc qtybtn">+</span>
									</div>
								</td>
								<td class="cart__total">@Model.cartViewModels[i].money.TotalMoney</td>
								<td class="cart__total">@Model.cartViewModels[i].money.IntoMoney</td>
							<td class="cart__close"><a asp-controller="cart" asp-action="DeleteCartitem" asp-route-quantityColorId="@Model.cartViewModels[i].quantityProductVerSion.idQuantity">xóa</a></td>
						</tr>
						}
						
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="cart__btn">
				<a href="/">Continue Shopping</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="cart__btn update__btn">
				<button type="submit"><span class="icon_loading"></span> Update cart</button>
			</div>
		</div>
	</div>
	</form>
	<div class="row">
		<div class="col-lg-6">
			
		</div>
		<div class="col-lg-4 offset-lg-2">
			<div class="cart__total__procced">
				<h6>Cart total</h6>
				<ul>
					<li>Tổng <span>@String.Format("{0:0,00}", Model.money.TotalMoney)</span></li>
					<li>Thanh toán <span>@String.Format("{0:0,00}", Model.money.IntoMoney)</span></li>
				</ul>
				<a href="#" class="primary-btn">Proceed to checkout</a>
			</div>
		</div>
	</div>
</div>

