@using ModelProject.ViewModel;
@model AddProductViewModel;

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @switch (Model.messageAdd)
                {
                    case "AddProductFalse": <div class="alert alert-danger">Cập nhật thất bại: mã sản phẩm tồn tại</div> break;
                    default: <div></div> break;
                }
                <h4 class="card-title">Nhập thông tin sản phẩm mới</h4>
                @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new {@class="forms-sample form-Product" ,enctype = "multipart/form-data" }))
                {
                       <div class="form-group">
                        <label for="exampleInputUsername1">Mã sản phẩm</label>
                        @Html.TextBoxFor(m => m.ProductId, new {@class="form-control ProductId"})
                         <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã thương hiệu: a-z,A-Z,0-9 
                        </div>
                    </div>
                      <div class="form-group">
                        <label >Tên sản phẩm</label>
                         @Html.TextBoxFor(m => m.ProductName, new {@class="form-control ProuctName"})
                         <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                      <div class="form-group">
                         <label >Ngành hàng</label>
                          @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.ListTypes, "TypeId", "TyName"), new {@class="form-control"} )
                      
                    </div> 
                         <div class="form-group">
                         <label >Thương hiệu</label>
                          @Html.DropDownListFor(m => m.BrandId, new SelectList(Model.ListBrands, "BrandsId", "BrandsName"), new {@class="form-control"} )
                       
                    </div>
                       <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                          @Html.TextBoxFor(m => m.FileImage, new {@class="form-control fileImage", type="file"})
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nhập mô tả cho</label>
                       
                          @Html.TextAreaFor(m => m.ProdutDescription, new {@class="form-control", placeholder="Nhập mô tả...", style="height: 100px;"})
                    </div>
                         
                     <div class="form-group">
                        <label >Thời gian ra mắt</label>
                         @Html.TextBoxFor(m => m.ReleaseTime, new {@class="form-control", type="date"})
                    </div>
                     <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                }
              
            </div>
        </div>
    </div>
</div>