@using DAL.Models;
@using CMSWeb.Models;
@model ListModel

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @switch (Model.message)
                {
                    case "addproductfale": <div class="alert alert-success">Cập nhật thất bại</div> break;
                    default: <div></div> break;
                }
                <h4 class="card-title">Nhập thông tin sản phẩm mới</h4>
                <form class="forms-sample" id="form-Product" method="post" enctype="multipart/form-data" action="/AddProduct">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã sản phẩm</label>
                        <input type="text" class="form-control" id="ProductId" name="ProductId" />
                         <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã thương hiệu: a-z,A-Z,0-9 
                        </div>
                    </div>
                    <div class="form-group">
                        <label >Tên sản phẩm</label>
                        <input type="text" class="form-control" id="ProuctName" name="ProuctName"/>
                         <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                     <div class="form-group">
                         <label >Ngành hàng</label>
                        <select class="form-control" name="ProductType" id="ProductType">
                           @{
                                foreach (var item in Model.productType)
                                {
                                    <option value="@item.Typeid">@item.Typename</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="form-group">
                         <label >Thương hiệu</label>
                        <select class="form-control" name="ProductBrand" id="ProductBrand">
                            @{
                                foreach (var item in Model.productBrands)
                                {
                                    <option value="@item.BrandId">@item.BrandName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                        @Html.TextBox("fileImage", "", new { type = "file", accept = "image/*" })
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nhập mô tả cho</label>
                        <textarea style="height: 100px;" name="ProductDescription" class="form-control" placeholder="Nhập mô tả cho thương hiệu..." ></textarea>
                    </div>
                     <div class="form-group">
                        <label >Thời gian ra mắt</label>
                        <input type="date" value="" class="form-control" id="ReleaseTime" name="ReleaseTime"/>
                    </div>
                     <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>