@using ModelProject.Models;
@using CMSWeb.ViewModels.CustomerViewModel;
@model CustomerDetailViewModel;

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                <h2 style="text-align:center;" class="card-title">Nhập thông tin khách hàng</h2>
                 @switch (Model.message)
                {
                    case true: <div class="alert alert-success">Cập nhật thành công</div> break;
                    default: <div></div> break;
                }

                @using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post, new {  @class="forms-sample", id="form-brands" }))
                {
                   
                }
                <form class="forms-sample" id="form-brands" method="post" asp-controller="Customer" asp-action="UpdateCustomer">

                    <div class="form-group">
                        <label>Số điện thoại</label>
                      @Html.TextBoxFor(m => m.createCustomer.CustomerPhone, new {@class="form-control", @readonly="true"})
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã thương hiệu: a-z,A-Z,0-9
                        </div>
                    </div>
                   
                      <div class="form-group">
                        <label>Tên khách hàng</label>
                         @Html.TextBoxFor(m => m.createCustomer.CustomerName, new {@class="form-control"})
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                       <div class="form-group">
                        <label asp-for="@Model.createCustomer.ProvinceCity">Tỉnh - Thành phố</label>
                        <input asp-for="@Model.createCustomer.ProvinceCity" class="form-control" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                       <div class="form-group">
                        <label asp-for="@Model.createCustomer.District">Quận - huyện</label>
                        <input asp-for="@Model.createCustomer.District" class="form-control" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                    
                       <div class="form-group">
                        <label asp-for="@Model.createCustomer.CommuneWard">Xã</label>
                        <input asp-for="@Model.createCustomer.CommuneWard" class="form-control"  />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                    
                       <div class="form-group">
                        <label asp-for="@Model.createCustomer.CustomerAddress">Địa chỉ</label>
                        <input asp-for="@Model.createCustomer.CustomerAddress" class="form-control" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                      <div class="form-group">
                        <label asp-for="@Model.createCustomer.RegistrationTime">Lần cuối đăng nhập</label>
                        <br />
                        <input asp-for="@Model.createCustomer.RegistrationTime"  readonly  class="form-control"/>
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                   
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Cập nhật</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>