@using ModelProject.ViewModel;
@model AddUserViewModel;


<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                        switch (Model.Message)
                        {
                                case "addTrue":  <div class="alert alert-success">Thêm nhân viên mới thành công</div> break;
                                case "AddBrandsIDfalse":  <div class="alert alert-danger">Mã sản phẩm đã tồn tại</div> break;
                                case "AddBrandsFalse":  <div class="alert alert-success">Thêm thương hiệu thất bại</div> break;
                            default: break;
                        }     
                }
                <h2 style="text-align:center;" class="card-title"> Nhân viên</h2>
                <form class="forms-sample" id="form-User" method="post" enctype="multipart/form-data" asp-action="AddUser" asp-controller="User">
                    <div class="form-group">
                        <label asp-for="@Model.UserName">Tên quản trị viên</label>

                        <input class="form-control" asp-for="@Model.UserName" placeholder="Nhập tên quản trị viên" />

                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.UserPhone">Số điện thoại</label>
                        <input asp-for="@Model.UserPhone" class="form-control UserPhone" type="number" placeholder="" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Định dạng số điện thoại sai
                        </div>
                    </div>
                        
                    
                    <div class="form-group">
                        <label asp-for="@Model.Email"  >Nhập Email</label>
                        <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email" />
                       
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="@Model.Password" >Nhập password </label>
                        <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password" />
                       
                    </div>
                     <div class="form-group">
                        <label asp-for="@Model.roleID">Vị trí</label>
                        <select class="form-control" asp-for="@Model.roleID">
                            @{
                               foreach (var item in Model.role.GetRoleUsers())
                                {
                                     <option value="@item.RoleId">@item.RoleName</option>
                                }
                            }
                        </select>
                        </div>
                        <br />
                    <div class="form-group">
                        <h4>Ảnh</h4>
                        <input asp-for="@Model.UserPhoto" class="fileImage form-control" accept="image/*" />
                        <br />
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>
