@using DAL.Models;
@model List<ProductBrand>
@{
    
}

<div class="content-wrapper">
    <div class="page-header">
        <h4>Thương hiệu</h4>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Thương hiệu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
            </ol>
        </nav>
    </div>
    <div>@ViewBag.Message</div>
    <div style="padding-bottom: 10px;">
        <a class="nav-link" asp-controller="Home" asp-action="Froms">
            <button type="button" class="btn btn-outline-danger">
                Thêm thương hiệu
            </button>
        </a>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Logo </th>
                        <th> Mã thương hiệu </th>
                        <th> Tên thương hiệu </th>
                        <th> Trạng thái </th>
                        <th> Trạng thái </th>

                    </tr>
                </thead>
                <tbody class="value-brands">
                    @{
                        foreach (var item in Model)
                        {
                                <tr>
                                    <td class="Img-Name">
                                        <img id="img-delete" style="width: 100px;height: 100px; border-radius: 0;" src="~/images/@item.BrandPhoto" />
                                    </td>
                                    <td> @item.BrandId </td>
                                    <td>
                                        @item.BrandName
                                    </td>
                                    @{
                                    if (@item.BrandStatus == 1)
                                    {
                                                <td>Đang kinh doanh</td>
                                    }
                                    else
                                    {
                                                <td>Tạm ngưng kinh doanh</td>
                                    }
                                    }
                                    <td style=" width:200px;">
                                        <div>
                                            <a class="btn btn btn-outline-danger" href="/FromUpdateBrands?id=@item.BrandId">
                                                    Cập nhật
                                            </a>

                                            <button class="btn btn-delete-brands btn-outline-danger" value="@item.BrandId#@item.BrandPhoto">
                                                Xóa
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<!-- partial -->
