@using ModelProject.ViewModel;
@model ProductDetailViewModel;
<div class="content-wrapper">
    <div style="width: 1300px; margin: auto;" class="grid-margin stretch-card">
        <div class="card ">
            <div class="card-body">
                @{
                    switch (Model.MessageUpdate)
                    {
                        case "UpdatePropertyValueFale": <div class="alert alert-danger">Cập nhật thông tin thuộc tính chi tiết thất bại</div> break; 
                        case "UpdateVersionQuantityFale": <div class="alert alert-danger">Cập nhật số lượng thất bại</div> break; 
                        default: break;
                    }
                }
                <h2 style="text-align:center">Thông tin chi tiết sản phẩm</h2>
                <div>
                    <a href="/FormAddPhoto?ProductIdVersion=@Model.VersionId&ProductNameVersion=@Model.VersionName" class="btn btn-gradient-primary">Thêm ảnh cho sản phẩm</a> 
                    <button class="btn btn-gradient-primary">Xem hình</button>
                    <a href="/DeleteProductVerSion?versionId=@Model.VersionId&productId=@Model.ProductId" class="btn btn-outline-danger" id="deleteProduct">Xóa</a>
                    <!-- The Modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <form class="forms-sample" id="form-Product" method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="UpdateProduct">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã sản phẩm</label>
                        <input asp-for="@Model.ProductId" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input asp-for="@Model.ProuctName" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label>Ngành hàng</label>
                        <select class="form-control" asp-for="@Model.ProductType">
                            <option value="@Model.ProductType">@Model.ProductTypeName</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label>Mã thương hiệu</label>
                        <select class="form-control" asp-for="@Model.ProductBrand">
                            <option value="@Model.ProductBrand">@Model.ProductBrandName</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                        <input class="fileImage form-control" asp-for="@Model.fileImage"  accept = "image/*"  />
                        <br />
                        <img id="preview" src="/images/ProductDefault/@Model.ProductPhoto" width="auto" height="auto" class="hidden" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mô tả cho</label>
                        <textarea style="height: 100px;" asp-for="@Model.ProductDescription" class="form-control" placeholder="Nhập mô tả cho thương hiệu...">@Model.ProductDescription</textarea>
                    </div>
                    <div class="form-group">
                        <label>Thời gian ra mắt</label>
                        @{
                            DateTime datetime = (DateTime)Model.ReleaseTime;
                        }
                        <input asp-for="@Model.ReleaseTime" class="form-control" />
                    </div>
                    <h3>Thông tin </h3>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã phiên bản sản phẩm</label>
                        <input class="form-control" readonly asp-for="@Model.VersionId"  />
                    </div>
                    <div class="form-group">
                        <label>Tên phiên bản sản phẩm</label>
                        <input type="text" value="@Model.VersionName" class="form-control" id="VersionName" name="VersionName" />

                    </div>
                    <div class="form-group">
                        <label>Giá sản phẩm</label>
                        <input class="form-control" asp-for="@Model.ProductPrice">
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control" asp-for="@Model.ProductStatus">
                           
                            @{
                                for (int i = 0; i < Model.status.GetStatus().Count; i++)
                                {
                                    if (i == Model.ProductStatus)
                                    {
                                        <option value="@Model.ProductStatus">@Model.status.GetStatus()[i]</option>
                                        continue;
                                    }
                                    <option value="@i">@Model.status.GetStatus()[i]</option>
                                }
                            }
                        </select>
                    </div>



                    @{

                        for (int i = 0; i < Model.productVerSionDetailInformation.Count; i++)
                        {
                            <div class="tag-informationType">
                                <label>  @Model.productVerSionDetailInformation[i].SpecificationName </label>
                                <label>  @Model.productVerSionDetailInformation[i].PropertyName <input style="width:100px; margin-right:40px;" asp-for="@Model.productVerSionDetailInformation[i].vauleId" readonly class="form-control InputProperty" /> </label>
                                <label> Thông tin:<input style="width:400px; margin-right:40px;" asp-for="@Model.productVerSionDetailInformation[i].Value" class="form-control InputProperty" /></label>
                            </div>
                        }
                    }

                    <div>
                        <h3>
                            Số lượng
                        </h3>
                        @{
                            for (int i = 0; i < Model.quantityProductVerSions.Count; i++)
                            {
                               
                                <label>@Model.quantityProductVerSions[i].color: <input style="width:100px;" readonly asp-for="@Model.quantityProductVerSions[i].idQuantity" class="form-control input-quantity"  /></label>
                                <label>Số lượng: <input style="width:300px;" asp-for="@Model.quantityProductVerSions[i].Quantity" class="form-control input-quantity" /></label>
                            }
                        }

                    </div>
                    <br />
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Cập nhật thông tin</button>
                </form>
                <br />

            </div>

        </div>
    </div>
</div>
