@using ModelProject.ViewModel;
@model ProductDetailViewModel;
<div class="content-wrapper">
    <div style="width: 1300px; margin: auto;" class="grid-margin stretch-card">
        <div class="card ">
            <div class="card-body">
                @{
                    switch (Model.MessageUpdate)
                    {
                        case "UpdatePropertyValueFale":
                                <div class="alert alert-danger">Cập nhật thông tin thuộc tính chi tiết thất bại</div>
                            break;
                        case "UpdateVersionQuantityFale":
                                <div class="alert alert-danger">Cập nhật số lượng thất bại</div>
                            break;
                        default: break;
                    }
                }
                <h2 style="text-align:center">Thông tin chi tiết sản phẩm</h2>
                <div>
                    <a href="/FormAddPhoto?ProductIdVersion=@Model.ProductShow.VersionId" class="btn btn-gradient-primary">Thêm ảnh cho sản phẩm</a>
                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target=".bd-example-modal-lg">Sản phẩm khyến mãi</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Sự kiện</button>
                    <a href="/DeleteProductVerSion?versionId=@Model.ProductShow.VersionId&productId=@Model.ProductShow.ProductId" class="btn btn-outline-danger" id="deleteProduct">Xóa</a>
                    <!-- Button trigger modal -->


                </div>
                <br />

                @using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { @class = "forms-sample", id = "form-Product", enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã sản phẩm</label>
                        @Html.TextBoxFor(m => m.ProductShow.ProductId, new{@class="form-control", @readonly="True"})
                    </div>

                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        @Html.TextBoxFor(m => m.ProductShow.ProuctName, new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Ngành hàng</label>
                        <select class="form-control" asp-for="@Model.ProductShow.ProductType">
                            <option value="@Model.ProductShow.ProductType">@Model.ProductShow.ProductTypeName</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mã thương hiệu</label>
                        <select class="form-control" asp-for="@Model.ProductShow.ProductBrand">
                            <option value="@Model.ProductShow.ProductBrand">@Model.ProductShow.ProductBrandName</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                        @Html.TextBoxFor(m => m.fileImage, new{@class="fileImage form-control", type="file", accept="image/*" })
                        <br />
                        <img id="preview" src="@Model.ProductShow.ProductPhoto" width="auto" height="auto" class="hidden" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mô tả cho</label>
                        @Html.TextAreaFor(m => m.ProductShow.ProductDescription, new{@class="form-control", placeholder="Nhập mô tả cho thương hiệu..."})
                    </div>
                    <div class="form-group">
                        <label>Thời gian ra mắt</label>
                        @Html.TextBoxFor(m => m.ReleaseTime, new{@class="form-control", @readonly="True" })
                    </div>
                    <h3>Thông tin </h3>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã phiên bản sản phẩm</label>
                        @Html.TextBoxFor(m => m.ProductShow.VersionId, new{@class="form-control", @readonly="True" })
                    </div>
                    <div class="form-group">
                        <label>Tên phiên bản sản phẩm</label>
                        @Html.TextBoxFor(m => m.ProductShow.VersionName, new{@class="form-control", id="VersionName"})
                    </div>
                    <div class="form-group">
                        <label>Giá sản phẩm</label>
                        @Html.TextBoxFor(m => m.ProductShow.ProductPrice, new{@class="form-control", type="number", min=0 })
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        @Html.DropDownListFor(m => m.ProductShow.ProductStatus, new SelectList(Model.status, "id", "name"), new {@class="form-control"} )
                    </div>

                    for (int i = 0; i < Model.productVerSionDetailInformation.Count; i++)
                    {
                        <div class="tag-informationType">
                            <label>  @Model.productVerSionDetailInformation[i].SpecificationName </label>
                            <label>  @Model.productVerSionDetailInformation[i].PropertyName @Html.TextBoxFor(m => m.productVerSionDetailInformation[i].vauleId, new{@class="form-control InputProperty",  style="width:100px; margin-right:40px;", @readonly="true", }) </label>


                            <label> Thông tin: @Html.TextBoxFor(m => m.productVerSionDetailInformation[i].Value, new{@class="form-control InputProperty", style="width:400px; margin-right:40px;"})</label>

                        </div>
                    }
                    <div>
                        <h3>
                            Số lượng
                        </h3>
                        @{
                            for (int i = 0; i < Model.quantityProductVerSions.Count; i++)
                            {

                                    <label>@Model.quantityProductVerSions[i].color: @Html.TextBoxFor(m => m.quantityProductVerSions[i].idQuantity, new{@class="form-control input-quantity", style="width:100px;", @readonly="True" })</label>

                                    <label>Số lượng:    @Html.TextBoxFor(m => m.quantityProductVerSions[i].Quantity, new{@class="form-control input-quantity", style="width:300px;"})</label>

                            }
                        }

                    </div>
                    <br />
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Cập nhật thông tin</button>
                }
                <br />



            </div>

        </div>
    </div>
</div>







<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        
                        <th> Tên sự kiện </th>
                        <th> Khuyến mãi (%)</th>
                        <th> Ngày bắt đầu </th>
                        <th> Ngày kết thúc </th>
                        <th> Trạng thái </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.PricePromation)
                        {
                            <tr>
                               
                                <th> @item.PromationName </th>
                                <th> @item.PromationPrice%</th>
                                <th> @item.StartTime.ToString()</th>
                                <th> @item.EndTime.ToString()</th>
                                <th style="color: red;">@item.StatusName</th>
                               
                                    <th>
                                    <a onclick="return ConfirmDelete()" class="btn btn-outline-danger" asp-action="UpdateEvent" asp-controller="Product" asp-route-id="@item.Id" asp-route-versionid="@item.productVersionId">Xóa khuyến mãi</a>
                                </th>


                                
                           </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> </th>
                        <th> Tên sản phẩm </th>
                        <th> Giá (vnd)</th>
                        <th> Trạng thái </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.ProductPromation)
                        {
                            <tr>
                                <th> <img style="width: 50px;height: 50px; border-radius: 0;" src="/images/ProductDefault/@item.ProductImage" /> </th>
                                <th> @item.PromationName </th>
                                <th> @item.PromationPrice</th>
                                <th style="color: red;">@item.StatusName</th>

                                <th>
                                    <a onclick="return ConfirmDelete()" class="btn btn-outline-danger" asp-action="UpdateGift" asp-controller="Product" asp-route-id="@item.Id" asp-route-versionid="@item.productVersionId">Kết thúc khuyến mãi</a>

                                </th>



                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>