@using ModelProject.ViewModel;
@model ProductPromotionViewModel;

<div class="content-wrapper">
    <div style=" margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    switch (@Model.Message)
                    {
                        case "AddTrue": <div class="alert alert-success">Thêm thành công</div> break;
                        case "AddFalse": <div class="alert alert-danger">Thêm thất bại</div> break;
                        default: break;
                    }
                }
                <form method="post" asp-action="AddPromation" asp-controller="ProductPromotion">
                    <div class="form-group">
                        <label>Mã sản phẩm</label>
                        <input class="form-control" asp-for="@Model.ProductId" placeholder="Nhập mã sản phẩm" />
                         
                    </div>

                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm khuyến mãi</button>
                    <br />
                    <br />
                    <h4>Chọn sản phẩm tặng</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên sản phẩm</th>
                                <th>Hình</th>
                                <th> Giá </th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>
                            @{
                                for (int i = 0; i < Model.listProductPromotions.Count; i++)
                                {
                                     <tr>
                                            <th>@Html.CheckBoxFor(m => m.listProductPromotions[i].select)
                                            @Html.HiddenFor(m => m.listProductPromotions[i].productId)
                                            @Html.HiddenFor(m => m.listProductPromotions[i].productName)
                                            @Html.HiddenFor(m => m.listProductPromotions[i].Price)
                                            @Html.HiddenFor(m => m.listProductPromotions[i].productPhoto)
                                            </th>
                                            <th>@Model.listProductPromotions[i].productName</th>
                                            <th><img src="/images/ProductDefault/@Model.listProductPromotions[i].productPhoto "/></th>
                                            <th>@Model.listProductPromotions[i].Price</th>
                                            <th></th>
                                        </tr>
                                }
                               
                            }
                        </tbody>
                    </table>


                </form>

            </div>
        </div>
    </div>
</div>



