@using ModelProject.ViewModel;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core;
@model IPagedList<ProductShow>

@{
	string PageName = ViewData["PageName"].ToString();
	string key = " ";
}


	<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
				

					<!-- Price Range Filtering -->
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Lọc</h5>
						</div>
						<p>
							<form class="" asp-action="GetDataSeach" asp-controller="Home" method="get">
								  @Html.AntiForgeryToken()
							@if (PageName == "GetDataSeach")
							{
								<input type="hidden" name="key" value="@ViewData["Key"].ToString()" />
							}
							@await Component.InvokeAsync("Formfilter")
							<div id="slider-range"></div>
							<div class="filter_button"><button type="submit">filter</button></div>
						</form>
						</p>
							
					</div>
				</div>

				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_top">
								@{var seach = "";}
								@if (PageName == "GetDataSeach")
								{
								
										seach += ViewData["key"].ToString() != " " ? "Tìm kiếm: " + ViewData["key"].ToString() : "";
									   seach += (int)ViewData["filterPrice"] != 100000000 ? " Giá <" + ViewData["filterPrice"].ToString() : "";
									seach += ViewData["filterBrands"].ToString() != "all" ? " Thương hiệu: " + ViewData["filterBrands"].ToString() : "";
									seach += ViewData["filterType"].ToString() != "all" ? " Ngành hàng: " + ViewData["filterType"].ToString() : "";


								}
								<span>@seach</span>
								<div class="pages d-flex flex-row align-items-center">
										<div class="page_current">
										@{
											if (PageName == "GetDataSeach")
											{
													@Html.PagedListPager((IPagedList)Model,page=>Url.Action(PageName,"Home", new{page, key=ViewData["Key"].ToString(), filterPrice=ViewData["filterPrice"].ToString(),filterBrands=ViewData["filterBrands"].ToString(),filterType=ViewData["filterType"].ToString()}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
											}else{
													@Html.PagedListPager((IPagedList)Model,page=>Url.Action(PageName,"Home", new{page, idType=ViewData["idType"].ToString()}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
											}
											}
																				</div>
								</div>

								<!-- Product Grid -->

								<div class="product-grid">

									<!-- Product 1 -->

									@{
										foreach (var item in Model)
										{
													<div class="product-item men">
														<div class="product discount product_filter">
															<div class="product_image">
																<img src="@item.ProductPhoto" alt="@item.VersionName">
															</div>
															@if (item.ProductSale != 0)
												{
																<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"> <span>@item.ProductSale%</span></div>
												}
															<div class="product_info">
														<h6 class="product_name"> @Html.ActionLink(item.ProuctName,"ProductDetail","Home",new {id=item.VersionId, name=item.RemoveVietnameseTone(item.ProuctName)}, null)</h6>
																<div class="product_price">@String.Format("{0:0,00}", item.ProductPrice - item.ProductPriceSale) @if (item.ProductPriceSale != 0)
														{
																		<span> @String.Format("{0:0,00}", item.ProductPrice)</span>
														}
																</div>
															</div>
														</div>

													</div>
										}
									}
							</div>
								@{
									if (PageName == "GetDataSeach")
									{
													@Html.PagedListPager((IPagedList)Model,page=>Url.Action(PageName,"Home", new{page, key=ViewData["Key"].ToString(), filterPrice=ViewData["filterPrice"].ToString(),filterBrands=ViewData["filterBrands"].ToString(),filterType=ViewData["filterType"].ToString()}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
									}
									else
									{
													@Html.PagedListPager((IPagedList)Model,page=>Url.Action(PageName,"Home", new{id=ViewData["idType"].ToString(),page}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
									}
								}
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>